@use "../../shared/style/global.scss" as*;
.Xl-button{
    padding-inline: 20px;
    padding-block: 10px;
    background-color: $pri;
    border: none;
    border-radius: 4px;
    color: rgb(37, 37, 37);
    font-size: medium;

    &:active{
        transform: scale(0.95);
    }
}
.button{
    padding-inline: 10px;
    padding-block: 4px;
    background-color: rgb(255, 174, 0);
    border: none;
    border-radius: 4px;
    color: rgb(37, 37, 37);
    

    &:active{
        transform: scale(0.95);
    }
}