@use "../../shared/style/global.scss" as *;


.navbar {
    position: absolute;
    top: 0;
    height: 70px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding: 20px 40px;
    background-color: rgba(255, 255, 255, 0.055);
    z-index: 3;

    h1 {
        font-family: $font1;
        font-size: clamp(0.8rem, 4vw, 1.5rem);
        display: flex;
        align-items: center;
        gap: 4px;

        span {
            color: $pri;
        }

    }

    .links {
        display: flex;
        align-items: center;
        gap: 2rem;
        background-color: rgba(15, 15, 15, 0.226);
        padding-inline: 40px;
        padding-block: 10px;
        border-radius: 10px;
    }

    a {
        font-size: 18px;
        font-weight: bold;
        text-decoration: none;
        color: rgb(255, 255, 255);
        font-family: $font4;

        &:active {
            color: $sec;
        }
    }

    button {
        color: $text1;

        &.textBlack {
            color: $text2;
        }
    }
}