*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

.showTrailer{
  height:100vh;
  width:100%;
  overflow:hidden;
  position:relative;

  video{
    position:absolute;
    top:0;
    left:0;
    height:100%;
    width:100%;
    object-fit:contain;
  }
}